@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@700&family=Kaushan+Script&family=Montserrat:wght@500;700&family=Open+Sans&family=Pacifico&family=Poppins:wght@400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
/*
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
@font-face{
    fontfamily:'HelveticaNeue-Thin';
    src:local('HelveticaNeue-Thin.otf'),url('HelveticaNeue-Thin.otf') formate('opentype');
}
*/
.backend_header{
    padding: .5rem 0;
}
.backend_header .backend-logo{
    padding-left: 2rem;
}
.icone-search a i{
    font-size: 20px;
    color: black;
}
.dashboard{
    background: #27A69B;
}
.nav-link:hover{
    color: white;
}
.backend_left-section{
    height: 125vh;
    background: rgb(48, 46, 46);
}

.left-menu .menu-list{
    padding: 0.5rem 0 0.5rem 2rem;
    transition: all 0.5s ease-in-out;

}
.menu-list a{
    font-size: 20px;
    color: white;
}
.menu-list:hover{
   background: #27A69B;
   transition: all 0.5s ease-in-out;
}

.backend_right-section{
     height: 92vh;
}

.nav-item .nav-link{
    color: black;
    transition: all 0.5s ease-in-out;
}
.nav-item .nav-link:hover{
    color: white;
    background: #27A69B;
}
.dropdown_item:hover{
    color: white;
    background: #27A69B;
}
.dropdown_list li a{
    color: black;
    transition: all 0.5s ease-in-out;
}
.dropdown_list li a:hover{
    color: white;
}
.nav-item .nav-link,
.dropdown_item button,
.dropdown_list li a
{
    font-size: 1.2rem !important;
}
.left_side_section{
    background: rgb(224, 224, 224);
}

.dropdown_item{
    padding-left: 0.4rem;
    transition: all 0.5s ease-in-out;
}
.dropdown_panel{
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 600;
}
.collapse .dropdown_list{
    padding-left: 1rem;
}


.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
        top: 48px;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
}

.sidebar .nav-link.active {
    color: white;
    background: #27A69B;
}
.sidebar .nav-item.active{
    color: white;
    background: #27A69B;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
}






.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
    z-index: 1500;
}















@media screen and (max-width: 700px) {
    html {
        font-size: 70%;
    }
    .left-discuss{
        text-align: center;
    }
    .mid-discuss .send-message{
       text-align: center;
    }
    .right-discuss ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .work-image-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }

}
@media screen and (min-width: 601px) and (max-width: 800px) {
    .work-image-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
    .left-discuss{
        text-align: center;
    }
    .right-discuss ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    .name-email input{
        width: 16rem;
        height: 3rem;
    }
    .message input{
        width: 34rem;
        height: 3rem;
    }
}
